<html>
<head>
<title>Game | SHIRItori</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/static/css/docs.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="/static/img/logo_small_white.png"></a>
      <div class="nav-collapse">
      <ul class="nav">
        <li class="">
          <a href="/">Home</a>
        </li>
        <li class="">
          <a href="/newgame/">New Game</a>
        </li>
      </ul>
      </div><!-- /nav-collapse -->
    </div><!-- /container -->
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->

<div class="container">
<header class="jumbotron subhead">
  <h1>Room {{ game.id }}</h1>
</header>

<hr>

<div class="game">
  {% if error_message %}
  <div class="alert alert-error">
    {{ error_message }}
  </div>
  {% endif %}
  <div class="row">
    <div class="span9">
      <div class="gamecanvas">
        {% for his in history %}
        <div class="gameword{%if forloop.first %} gameword-first{% endif %}">
          <div class="wordleft">{{ his.word.hiragana }}</div>&nbsp;
          <div class="wordright">{{ his.word.midashigo }} by {{ his.player.name }}</div>
        </div><!-- /gameword -->
        {% endfor %}
      </div><!-- /gamecanvas -->
      <div class="gameinput">
      {% if turn_player %}
      <input type="text" class="span7 disabled" name="word" id="id_word" autocomplete="off">&nbsp;
      <button type="submit" class="pull-right span2 btn btn-large btn-primary disabled">しりとり</button>
      {% else %}
      <form action="/game/{{ game_player.id }}/add/" method="post">
        {% csrf_token %}
        <input type="text" class="span7" name="word" id="id_word" autocomplete="off">&nbsp;
        <button type="submit" class="pull-right span2 btn btn-large btn-primary">しりとり</button>
      </form>
      {% endif %}
      </div><!-- /gameinput -->
    </div><!-- /span9 -->
    <div class="span3 player-list">
      {% if turn_player %}
      <div class="alert alert-info">It's {{ turn_player }}'s turn</div>
      {% else %}
      <div class="alert">It's your turn</div>
      {% endif %}
      <h3>Players in this room</h3>
      <p><i class="icon-user"></i><span class="you">{{ player.name }} さん</span></p>
      {% if player_list %}
      {% for x in player_list %}
      <p><i class="icon-user"></i>{{ x.name }} さん</p>
      {% endfor %}
      {% endif %}
    </div><!-- /span3 -->
  </div><!-- /row -->
</div><!-- /game -->

<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>
</div><!-- /container -->

<!-- JavaScript -->
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
function checkupdate(hisLength) {
  $.ajax({
    type: 'GET',
    url: "/game/{{ game_player.id }}/check/{{ history|length }}/",
    success: function(data){
      console.log(data);
      if (data.updated) {
        window.location.href = "/game/{{ game_player.id }}/";
      }
    }
  });
}

$(document).ready(function(){
  var interval = setInterval("checkupdate()", 6000);
  checkupdate();
});
</script>
</body>
</html>
