<html>
<head>
<title>404 Page Not Found | SHIRItori</title>
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="{{ STATIC_URL }}img/logo_small_white.png"></a>
      <div class="nav-collapse">
      <ul class="nav">
        <li class="">
          <a href="/">Home</a>
        </li>
        <li class="">
          <a href="/newgame/">New Game</a>
        </li>
      </ul>
      </div><!-- /nav-collapse -->
    </div><!-- /container -->
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->

<div class="container">
<header class="jumbotron masthead">
  <div class="inner">
    <p><img src="{{ STATIC_URL }}img/404.png"></p>
  </div><!-- /inner -->
</header>

<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>
</div><!-- /container -->

<!-- JavaScript -->
<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>
