{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block active_home %}active{% endblock active_home %}
{% block active_newgame %}{% endblock active_newgame %}

{% block container %}
<div class="container">
<header class="jumbotron masthead">
  <div class="inner">
    <p><img src="{{ STATIC_URL }}img/title.png"></p>
    <p>みんなでしりとりして遊ぼう！</p>
  </div><!-- /inner -->
</header>

<hr class="soften">

<div class="game-list">
  <h1>現在対戦中のRoom</h1>
  {% if error_message %}
  <div class="alert alert-error">
    {{ error_message }}
  </div><!-- /alert error -->
  {% endif %}
  {% if gameplayers_list %}
  <div class="row show-grid">
    {% for gameplayers in gameplayers_list %}
    <div class="span3">
      <div class="rooms">
      <h2>Room {{ gameplayers.0.game.id }}</h2>
      {% for gameplayer in gameplayers %}
      <p><a href="/game/{{ gameplayer.id }}/"><i class="icon-user"></i> {{ gameplayer.player.name }} さん</a></p>
      {% endfor %}
      <p style="cursor: hand;" onclick="show('jgf{{ gameplayers.0.game.id }}');" class="pull-right">join? <i class="icon-chevron-down" id="jgf{{ gameplayers.0.game.id }}_icon"></i></p><br>
      <div class="joingame-form hide" id="jgf{{ gameplayers.0.game.id }}">
        <form class="form-inline" action="/" method="post">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{ gameplayers.0.game.id }}">
        <input type="text" class="span2" placeholder="Name" name="player_name{{ gameplayers.0.game.id }}">
        <button type="submit" class="btn btn-primary">join</button>
        </form>
      </div>
      </div><!-- /rooms -->
    </div><!-- /span3 -->
    {% if forloop.counter|divisibleby:"4" %}
    </div><div class="row show-grid">
    {% endif %}
    {% endfor %}
  </div><!-- /row -->
  {% else %}
  <p>現在対戦中のRoomはありません</p>
  {% endif %}
</div><!-- /game-list -->
{% endblock container %}

{% block custom_js %}
<script type="text/javascript">
function show(id) {
  if (document.getElementById(id).style.display == "block") {
    document.getElementById(id).style.display = "none";
    document.getElementById(id + "_icon").className = "icon-chevron-down";
  } else {
    document.getElementById(id).style.display = "block";
    document.getElementById(id + "_icon").className = "icon-chevron-up";
  }
}
</script>
{% endblock custom_js %}
