<html>
<head>
<title>SHIRItori</title>
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="static/css/docs.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="static/img/logo_small_white.png"></a>
      <div class="nav-collapse">
      <ul class="nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li class="">
          <a href="/newgame/">New Game</a>
        </li>
      </ul>
      </div><!-- /nav-collapse -->
    </div><!-- /container -->
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->

<div class="container">
<header class="jumbotron masthead">
  <div class="inner">
    <p><img src="static/img/title.png"></p>
    <p>みんなでしりとりして遊ぼう！</p>
  </div><!-- /inner -->
</header>

<hr class="soften">

<div class="game-list">
  <h1>現在対戦中のRoom</h1>
  {% if error_message %}
  <div class="alert alert-error">
    {{ error_message }}
  </div><!-- /alert error -->
  {% endif %}
  {% if gameplayers_list %}
  <div class="row show-grid">
    {% for gameplayers in gameplayers_list %}
    <div class="span3">
      <div class="rooms">
      <h2>Room {{ gameplayers.0.game.id }}</h2>
      {% for gameplayer in gameplayers %}
      <p><a href="/game/{{ gameplayer.id }}/"><i class="icon-user"></i> {{ gameplayer.player.name }} さん</a></p>
      {% endfor %}
      <p style="cursor: hand;" onclick="show('jgf{{ gameplayers.0.game.id }}');" class="pull-right">join? <i class="icon-chevron-down" id="jgf{{ gameplayers.0.game.id }}_icon"></i></p><br>
      <div class="joingame-form hide" id="jgf{{ gameplayers.0.game.id }}">
        <form class="form-inline" action="/" method="post">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{ gameplayers.0.game.id }}">
        <input type="text" class="span2" placeholder="Name" name="player_name{{ gameplayers.0.game.id }}">
        <button type="submit" class="btn btn-primary">join</button>
        </form>
      </div>
      </div><!-- /rooms -->
    </div><!-- /span3 -->
    {% if forloop.counter|divisibleby:"4" %}
    </div><div class="row show-grid">
    {% endif %}
    {% endfor %}
  </div><!-- /row -->
  {% else %}
  <p>現在対戦中のRoomはありません</p>
  {% endif %}
</div><!-- /game-list -->

<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>
</div><!-- /container -->

<!-- JavaScript -->
<script src="static/js/jquery-1.7.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript">
function show(id) {
  if (document.getElementById(id).style.display == "block") {
    document.getElementById(id).style.display = "none";
    document.getElementById(id + "_icon").className = "icon-chevron-down";
  } else {
    document.getElementById(id).style.display = "block";
    document.getElementById(id + "_icon").className = "icon-chevron-up";
  }
}
</script>
</body>
</html>
