{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block active_home %}active{% endblock active_home %}
{% block active_newgame %}{% endblock active_newgame %}

{% block container %}
<div class="container">
<header class="jumbotron masthead">
  <div class="inner">
    <p><img src="{{ STATIC_URL }}img/title.png"></p>
    <p>みんなでしりとりして遊ぼう！</p>
  </div><!-- /inner -->
</header>

<hr class="soften">

<div class="game-list">
  <h1>現在対戦中のRoom</h1>
  {% if error_message %}
  <div class="alert alert-error">
    {{ error_message }}
  </div><!-- /alert error -->
  {% endif %}
  {% if gameplayers_list %}
  <div class="row show-grid">
    {% for gameplayers in gameplayers_list %}
    <div class="span3">
      <div class="rooms">
      <h2>{{ gameplayers.0.game.roomname }}</h2>
      {% for gameplayer in gameplayers %}
      {% if gameplayer.player.user == user %}
      <p><a href="/game/{{ gameplayer.id }}/"><i class="icon-user"></i> {{ gameplayer.player.name }} さん</a></p>
      {% else %}
      <p><i class="icon-user"></i> {{ gameplayer.player.name }} さん</p>
      {% endif %}
      {% endfor %}
      {% if gameplayers.0.game.private %}
      <span class="pull-right">private room <i class="icon-lock"></i></span><br>
      {% else %}
      <a href="/newgame/join/{{ gameplayers.0.id }}/" class="pull-right">join this game? <i class="icon-chevron-right"></i></a><br>
      {% endif %}
      </div><!-- /rooms -->
    </div><!-- /span3 -->
    {% if forloop.counter|divisibleby:"4" %}
    </div><div class="row show-grid">
    {% endif %}
    {% endfor %}
  </div><!-- /row -->
  {% else %}
  <p>現在対戦中のRoomはありません</p>
  {% endif %}
</div><!-- /game-list -->
{% endblock container %}

{% block custom_js %}
{% endblock custom_js %}
