{% extends "base.html" %}

{% block title %}Log In | {% endblock title %}

{% block active_home %}{% endblock active_home %}
{% block active_newgame %}{% endblock active_newgame %}

{% block container %}
<div class="container">
<header class="jumbotron subhead">
  <h1>Log in</h1>
  <p class="lead">ログイン</p>
</header>

<hr>

<div class="login">
  {% if error_message %}
  <div class="alert alert-error">
    {{ error_message }}
  </div><!-- /alert error -->
  {% endif %}
  <div class="row">
    <div class="span6">
      <h3>Log in with another account</h3>
      <ul class="loginnav">
        <li>
        <a href="{% url socialauth_begin 'twitter' %}"><img src="{{ STATIC_URL }}img/login_t.png"></a>
        </li>
        <li>
        <a href="{% url socialauth_begin 'facebook' %}"><img src="{{ STATIC_URL }}img/login_f.png"></a>
        </li>
        <li>
        <a href="{% url socialauth_begin 'google-oauth2' %}"><img src="{{ STATIC_URL }}img/login_g.png"></a>
        </li>
      </ul>
    </div><!-- /left-side span6 -->
    <div class="span6">
      <h3 id="login_title">Log in with SHIRItori account</h3>
      <p style="cursor: hand;" class="pull-right" onclick="create();" id="change_msg">Create a new SHIRItori account?&nbsp;<i class="icon-chevron-down"></i></p>
      <form class="form-horizontal" action="/login-form/" method="post">
        {% csrf_token %}
        <fieldset>
        <div class="control-group">
          <label class="control-label" for="id_username" id="username_label">User Name</label>
          <div class="controls">
            <input type="text" name="username" id="id_username" class="span3" placeholder="User Name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="id_password" id="password_label">Password</label>
          <div class="controls">
            <input type="password" name="password" id="id_password" class="span3" placeholder="Password">
          </div>
        </div>
        <div class="control-group" id="email_input" style="display: none;">
          <label class="control-label" for="id_email">Email</label>
          <div class="controls">
            <input type="email" name="email" id="id_email" class="span3" placeholder="Email">
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" id="login_btn">Log in</button>
        </div>
        <input type="hidden" name="event" id="event" value="login">
        </fieldset>
      </form>
    </div><!-- /right-side span6 -->
  </div><!-- /row -->
</div><!-- /new-game -->
{% endblock container %}

{% block custom_js %}
<script type="text/javascript">
function create() {
  if (document.getElementById('email_input').style.display == "block") {
    document.getElementById('email_input').style.display = "none";
    document.getElementById('login_btn').innerHTML = "Log in";
    document.getElementById('username_label').innerHTML = 'User Name';
    document.getElementById('password_label').innerHTML = 'Password';
    document.getElementById('event').value = 'login';
    document.getElementById('login_title').innerHTML = 'Log in with SHIRItori account';
    document.getElementById('change_msg').innerHTML = 'Create a new SHIRItori account?&nbsp;<i class="icon-chevron-down"></i>';
  } else {
    document.getElementById('email_input').style.display = "block";
    document.getElementById('login_btn').innerHTML = "Create a new account";
    document.getElementById('username_label').innerHTML = 'User Name <small class="muted">*</small>';
    document.getElementById('password_label').innerHTML = 'Password <small class="muted">*</small>';
    document.getElementById('event').value = 'new';
    document.getElementById('login_title').innerHTML = 'Create a new SHIRItori account';
    document.getElementById('change_msg').innerHTML = 'Log in with SHIRItori account?&nbsp;<i class="icon-chevron-up"></i>';
  }
}
</script>
{% endblock custom_js %}
