<html>
<head>
<title>Game Created | SHIRItori</title>
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="{{ STATIC_URL }}img/logo_small_white.png"></a>
      <div class="nav-collapse">
      <ul class="nav">
        <li class="">
          <a href="/">Home</a>
        </li>
        <li class="active">
          <a href="/newgame/">New Game</a>
        </li>
      </ul>
      </div><!-- /nav-collapse -->
    </div><!-- /container -->
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->

<div class="container">
<header class="jumbotron subhead">
  <h1>Hi {{ player_name }}! Your Game has Created!</h1>
  <p class="lead">新しいゲーム Room {{ game_id }} が作られました。さっそく新しいゲームで遊ぼう！</p>
  <p>
    <a href="/game/{{ game_player_id }}/" class="btn btn-primary btn-large">Go to your game!</a>
    <a href="#" class="btn btn-info btn-large btn-disabled">Invite your friend!</a>
  </p>
</header>

<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>
</div><!-- /container -->

<!-- JavaScript -->
<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>
