{% extends "base.html" %}

{% block title %}Join Game | {% endblock title %}

{% block active_home %}{% endblock active_home %}
{% block active_newgame %}{% endblock active_newgame %}

{% block container %}
<div class="container">
<header class="jumbotron subhead">
  <h1>Join Friend's Game</h1>
  <p class="lead">{{ owner_name }} さんのゲームに参加するよ</p>
</header>

<hr>

<div class="new-game">
  {% if error_message %}
  <div class="alert alert-error">
    {{ error_message }}
  </div><!-- /alert error -->
  {% endif %}
  <form class="well form-inline" action="/newgame/join/{{ game_player_id }}/" method="post">
    {% csrf_token %}
    <label>Choose your name: </label>
    <input type="text" name="player_name" class="span3" placeholder="Name">
    <button type="submit" class="btn btn-primary">Join The Game</button>
  </form>
</div><!-- /new-game -->
{% endblock container %}

{% block custom_js %}
{% endblock custom_js %}
